<!-- places/templates/places/create_place.html -->
{% extends 'main.html' %}

{% block title %}Create Place{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Create a New Place</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_name">Name:</label>
                {{ form.name }}
            </div>

            <div class="form-group">
                <label for="id_description">Description:</label>
                {{ form.description }}
            </div>

            <div class="form-group">
                <label for="id_address">Address:</label>
                {{ form.address }}
            </div>

            {% comment %} 
            <div class="form-group">
                <label for="id_latitude">Latitude:</label>
                {{ form.latitude }}
            </div>

            <div class="form-group">
                <label for="id_longitude">Longitude:</label>
                {{ form.longitude }}
            </div> 
            {% endcomment %}

            <div class="form-group">
                <label for="id_rating">Rating:</label>
                {{ form.rating }}
            </div>

            <div class="form-group">
                <label for="id_image">Image:</label>
                {{ form.image }}
            </div>

            <button type="submit" class="btn btn-primary">Create Place</button>
        </form>
    </div>
{% endblock %}
